.tit{
    text-align: center;
    font: bold;
    font-size: xx-large;
    
    
    
}


.descripcion{
    text-align: justify;
    font: bold;
    font-size: large;
    font-size: x-large;
    
    
}

.lista{
    text-align: center;
    text-decoration: none;
    list-style: none;
    font-size: large;
    
}


.list{
    padding: 5px;
    text-decoration: none;
    font-size: x-large;
}

