.tit{
    text-align: center;
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.desc{
    text-align: justify;

}

.enclaustar{
    margin: 10px;
    border: 2px solid black;
    padding: 5px;
    
}

.Fotiti{
    text-align: center;
}


.fotiti{
    width: 25%;
    border-radius: 50%;
    box-shadow: 10px 10px 10px black;
    margin-bottom: 20px;
}

.Des{
    text-align: justify;
    font-size: x-large;
}